
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
* {
  margin: 10px;
}

.palette {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.color-box {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

#selectedColor {
  font-size: 24px;
  margin-bottom: 20px;
}

#colorHistory {
  list-style-type: none;
  float: right;
}

.color-history-item {
  font-size: 18px;
  margin: 5px 0;
}